<a href="https://colab.research.google.com/github/YinmiAlas/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

In [0]:
import pandas as pd
import numpy as np

In [3]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-05-13 01:56:05--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 35.165.72.211, 50.112.20.251, 52.38.18.179
Connecting to resources.lendingclub.com (resources.lendingclub.com)|35.165.72.211|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [        <=>         ]  22.05M  1.93MB/s    in 12s

2020-05-13 01:56:18 (1.77 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23121687]

In [4]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [5]:
#i did index to mmy data and take out the last two rows
#where we were missing values in one code
loan_data = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
loan_data.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [7]:
loan_data.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [8]:
loan_data.shape

(128412, 144)

In [9]:
pd.set_option('display.max_rows', 144)
loan_data.isnull().sum().sort_values(ascending=False)

id                                            128412
member_id                                     128412
url                                           128412
desc                                          128412
settlement_percentage                         127661
settlement_term                               127661
settlement_date                               127661
debt_settlement_flag_date                     127661
settlement_status                             127661
settlement_amount                             127661
sec_app_mths_since_last_major_derog           123258
hardship_loan_status                          117705
hardship_status                               117691
hardship_reason                               117691
hardship_dpd                                  117690
hardship_length                               117690
payment_plan_start_date                       117690
hardship_end_date                             117690
hardship_start_date                           117690
deferral_term                                 117690
hardship_type                                 117690
orig_projected_additional_accrued_interest    114943
hardship_last_payment_amount                  114919
hardship_amount                               114919
hardship_payoff_balance_amount                114919
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
sec_app_collections_12_mths_ex_med            111630
sec_app_num_rev_accts                         111630
sec_app_open_act_il                           111630
sec_app_open_acc                              111630
sec_app_mort_acc                              111630
sec_app_inq_last_6mths                        111630
sec_app_earliest_cr_line                      111630
revol_bal_joint                               111630
dti_joint                                     111630
annual_inc_joint                              111630
sec_app_chargeoff_within_12_mths              111630
mths_since_recent_bc_dlq                      103243
mths_since_last_major_derog                    99232
mths_since_recent_revol_delinq                 91630
mths_since_last_delinq                         72196
next_pymnt_d                                   36394
emp_title                                      20947
il_util                                        20274
mths_since_recent_inq                          16047
emp_length                                     11704
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
num_tl_120dpd_2m                                2859
hardship_flag                                   2771
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
pub_rec                                            0
revol_bal                                          0
total_pymnt_inv                                    0
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_rec_prncp                                    0
total_rec_late_fee                                 0
recoveries                                         0
total_rec_int                                      0
debt_settlement_flag                               0
open_acc                                           0
annual_inc                                         0
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
home_ownership                                     0
verification_status                                0
inq_last_6mths                                     0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
delinq_2yrs                                        0
earliest_cr_line                                   0
collection_recovery_fee                            0
max_bal_bc                                         0
last_pymnt_amnt                                    0
mort_acc                                           0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
num_accts_ever_120_pd                              0
mo_sin_rcnt_tl                                     0
collections_12_mths_ex_med                         0
mo_sin_rcnt_rev_tl_op                              0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_rev_tl_op                               0
inq_fi                                             0
dtype: int64

In [0]:
loan_data.drop('id', axis=1, inplace=True)

In [11]:
loan_data.head()

   member_id  loan_amnt  ...  settlement_percentage  settlement_term
0        NaN      10000  ...                    NaN              NaN
1        NaN       6500  ...                    NaN              NaN
2        NaN       4500  ...                    NaN              NaN
3        NaN      25000  ...                    NaN              NaN
4        NaN      30000  ...                    NaN              NaN

[5 rows x 143 columns]

In [12]:
loan_data.shape

(128412, 143)

In [13]:
#Convert the term column from string to integer.
loan_data['term'].head(20)

0      60 months
1      36 months
2      36 months
3      60 months
4      60 months
5      36 months
6      60 months
7      36 months
8      36 months
9      36 months
10     36 months
11     60 months
12     36 months
13     36 months
14     60 months
15     60 months
16     60 months
17     36 months
18     36 months
19     36 months
Name: term, dtype: object

In [14]:
loan_data['term'][0]

' 60 months'

In [15]:
loan_data['term'].dtype

dtype('O')

In [16]:
#confirm what type of data
type(loan_data['term'][0])

str

In [0]:
term = ' 60 months'

In [18]:
#i did add another .strip beacuse after 60
#was another scpace 
term.strip().strip('months').strip()

'60'

In [19]:
float(term.strip().strip('months').strip())

60.0

In [20]:
type(float(term.strip().strip('months').strip()))

float

In [0]:
#Convert the term column from string to integer reusable using function.

In [23]:
#Convert the whole term column from string to integer using function for loop.
[col for col in loan_data if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
new_list_of_colum[:20]

[60.0,
 36.0,
 36.0,
 60.0,
 60.0,
 36.0,
 60.0,
 36.0,
 36.0,
 36.0,
 36.0,
 60.0,
 36.0,
 36.0,
 60.0,
 60.0,
 60.0,
 36.0,
 36.0,
 36.0]

In [0]:
#create a new list
#i was tryng to write float but is not posiblle
#i think because is a python feature thats why 
#i just add flot
loan_data['term_in_flot']=pd.Series(new_list_of_colum)

In [0]:
loan_data[['term', 'term_in_flot']].sample(10)

              term  term_in_flot
108057   60 months          60.0
27086    36 months          36.0
64565    36 months          36.0
59473    60 months          60.0
105095   60 months          60.0
1307     36 months          36.0
126675   36 months          36.0
107812   60 months          60.0
12376    36 months          36.0
81913    36 months          36.0

In [0]:
#Make a column named loan_status_is_great. It should contain 
#the integer 1 if loan_status is "Current" or "Fully Paid." 
#Else it should contain the integer 0.

In [0]:
loan_data[['loan_status']].sample(10)

       loan_status
98075      Current
55576   Fully Paid
64951   Fully Paid
59393      Current
4171    Fully Paid
95131      Current
98239   Fully Paid
102843     Current
19391      Current
113221  Fully Paid

In [0]:
loan_data['loan_status_is_great'] = pd.Series('loan_status')

In [0]:
loan_data[['loan_status', 'loan_status_is_great']].sample(10)

        loan_status loan_status_is_great
19072       Current                  NaN
94269    Fully Paid                  NaN
124982   Fully Paid                  NaN
4067     Fully Paid                  NaN
7485        Current                  NaN
37636       Current                  NaN
39722       Current                  NaN
14063    Fully Paid                  NaN
104395  Charged Off                  NaN
60824       Current                  NaN

In [0]:
loan_data.drop('loan_status_is_great', axis=1, inplace=True)

In [0]:
loan_data['loan_status_is_great'] = pd.Series(loan_data['loan_status'])

In [0]:
loan_data[['loan_status', 'loan_status_is_great']].sample(10)

        loan_status loan_status_is_great
69843       Current              Current
126613      Current              Current
105045      Current              Current
9651        Current              Current
69465       Current              Current
88600       Current              Current
96130   Charged Off          Charged Off
120074      Current              Current
48892       Current              Current
121988      Current              Current

Hey TL i will leave this comment here because i been looking how convert a

In [25]:
loan_data['loan_status'].sample(30)

39265     Late (31-120 days)
14050     Late (31-120 days)
22662                Current
43647                Current
55720                Current
73196             Fully Paid
88867             Fully Paid
41985                Current
86151     Late (31-120 days)
59474                Current
27596                Current
29841                Current
79143                Current
41186             Fully Paid
38399                Current
122926           Charged Off
82940                Current
28376             Fully Paid
5871                 Current
62057             Fully Paid
1750                 Current
5551              Fully Paid
76766                Current
1782              Fully Paid
34870                Current
71496             Fully Paid
39860             Fully Paid
113009               Current
6325                 Current
110163               Current
Name: loan_status, dtype: object

In [26]:
loan_data[loan_data['loan_status']{'Current':1, 'Fully Paid':2, 'Charged Off':3, 'Late (31-120 days)':4, 'Default':5 }]

SyntaxError: ignored

In [0]:
loan_data.loan_status_is_great[loan_data.loan_status_is_great == 'Current'] = 1
loan_data.loan_status_is_great[loan_data.loan_status_is_great == 'Fully Paid'] = 1
loan_data.loan_status_is_great[loan_data.loan_status_is_great == 'Charged Off'] = 0
loan_data.loan_status_is_great[loan_data.loan_status_is_great == 'Late (31-120 days)'] = 0
loan_data.loan_status_is_great[loan_data.loan_status_is_great == 'Default'] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [0]:
col 
 for col in df if col.endswith('_d')

In [0]:
loan_data[['loan_status', 'loan_status_is_great']].sample(50)

               loan_status loan_status_is_great
70719              Current                    1
39667              Current                    1
39340              Current                    1
70373          Charged Off                    0
56187           Fully Paid                    1
98253              Current                    1
21186          Charged Off                    0
124351             Current                    1
20499           Fully Paid                    1
73663           Fully Paid                    1
96357              Current                    1
90197              Current                    1
93331              Current                    1
59597              Current                    1
14364              Current                    1
23750           Fully Paid                    1
53391           Fully Paid                    1
13065              Current                    1
22655              Current                    1
1238           Charged Off                    0
113893             Current                    1
25032              Current                    1
95127              Current                    1
125994             Current                    1
110937         Charged Off                    0
14932              Current                    1
13421              Current                    1
41003              Current                    1
50197              Current                    1
3565               Current                    1
64527              Current                    1
109980          Fully Paid                    1
67532              Current                    1
101292          Fully Paid                    1
128361             Current                    1
92750           Fully Paid                    1
82113   Late (31-120 days)                    0
109990         Charged Off                    0
118452          Fully Paid                    1
75286              Current                    1
124343             Current                    1
31276           Fully Paid                    1
22096              Current                    1
62029           Fully Paid                    1
35572           Fully Paid                    1
97044              Current                    1
67921              Current                    1
71337              Current                    1
41411              Current                    1
35615              Current                    1

In [0]:
#Make last_pymnt_d_month and last_pymnt_d_year columns.
loan_data['last_pymnt_d_month'] = pd.Series()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [0]:
loan_data['last_pymnt_d_year'] = pd.Series()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [0]:
loan_data[['last_pymnt_d_month', 'last_pymnt_d_year']].sample(10)

        last_pymnt_d_month  last_pymnt_d_year
117957                 NaN                NaN
106596                 NaN                NaN
119015                 NaN                NaN
102395                 NaN                NaN
19179                  NaN                NaN
109707                 NaN                NaN
81157                  NaN                NaN
66148                  NaN                NaN
110963                 NaN                NaN
52580                  NaN                NaN

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01